@include max-width(850px){
  .title-second{
    font-size: toRem(32);
  }

  .select{
    &__header{
      line-height: 27rem;
    }
    &__title,
    &__text{
      font-size: toRem(15);
      font-weight: 400;
    }
  }

  .brick{
    height: toRem(40);
  }
}

@include max-width(600px){
  .title,
  .sub-title,
  .title-second{
    font-size: toRem(24);
  }

  .select{
    width: toRem(180);
    &__header{
      line-height: toRem(20);
      padding-inline: toRem(15);
      border-width: toRem(1);
      width: toRem(180);
    }

    &__icon{
      @include square(toRem(10));
    }

    &__title,
    &__text{
      font-size: toRem(14);
    }

    &__body{
      border-width: toRem(1);
      padding: toRem(15) toRem(10) toRem(10);
      //border-radius: toRem(25);
      border-radius: 0 0 toRem(25) toRem(25);
    }
  }
}