@media screen and (max-width: 850px){
  .burger {

	&-btn {
	  display: block;
	}

	&.close{
	  position: relative;
	  span{
		display: none;
	  }
	  &:before{
		position: relative;
		transform: rotate(45deg);
		top: 0;
	  }
	  &:after{
		position: relative;
		transform: rotate(-45deg);
		bottom: 3px;
	  }
	}
  }

  .mob-header {
	display: block;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 100dvh;
	padding: 180px 20px 0;
	background: linear-gradient(to top, var(--color-white), var(--color-white));

	.header-nav{
	  display: flex;
	  flex-flow: column;
	  //align-items: flex-start;
	  row-gap: 20px;
	  margin-bottom: 80px;

	  &__link{
		font-size: 22px;
		font-weight: 600;
	  }
	}

	.title-link{
	  margin-bottom: 46px;
	  justify-content: center;

	  color: var(--color-red);
	  font-size: 20px;
	  font-weight: 700;
	  line-height: var(--font-line-height-main);
	}

	.contacts-block__button{
	  display: flex;
	  justify-content: center;
	}
  }
}