.header {
}

.burger {
  background: transparent;
  border: none;
  cursor: pointer;

  &:before, &:after, span {
	background: var(--color-black);
	content: "";
	display: block;
	height: 3px;
	border-radius: 3px;
	margin: 6px 0;
	width: 29px;
  }
  &:before,
  &:after{
	margin: 0;
  }

  &-btn {
	display: none;
	height: auto;
	gap: 10px;
	align-items: center;

	&__title{
	  font-size: 20px;
	  font-weight: 700;
	  line-height: var(--font-line-height-main);
	}

	//margin-left: auto;
	//margin-right: 24px;
  }

}
