.typo{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
	margin-bottom: 0.5em;
  }

  ul,
  ol{
    li{
      margin-bottom: 0.5em;
    }
  }

  table{
    th,
    td{
      padding-bottom: 0.5em;
    }
  }

  img{
    max-width: 100%;
    height: auto;
  }
}
