@include max-width(850px){
  .btn{
    &_tab{
      width: toRem(66);
      height: toRem(33);
    }
  }
}


@include max-width(600px){
  .btn{
    &_hero{
      font-size: toRem(20);
      line-height: toRem(40);
    }

    &_tab{
      width: auto;
      padding-inline: toRem(12);
      height: toRem(24);

      font-size: toRem(12);
    }

    &_card{
      padding-inline: toRem(15);
      line-height: toRem(30);

      font-size: toRem(14);
    }
  }
}